<p id="notice"><%= notice %></p>

<p>
  <strong>Chương:</strong>
  <%= @lesson.chapter %>
</p>

<p>
  <strong>Nội dung:</strong>
  <%= @lesson.content %>
</p>

<p>
  <strong>Khóa học:</strong>
  <%= @lesson.course.name %>
</p>




