<footer class="footer">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
.login-container{ 
  float:right;
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<div class="w3-container w3-theme-l2 w3-padding-32">
<div class="container">
<div class="media-container-row content text-white">
    <div class="col-12 col-md-3">
        <div class="media-wrap">
                <img src="https://www.rikai.technology/assets/images/logo-white.svg" alt="Mobirise width="50" height="50"" title="" class="">
            
        </div>
    </div>
    <div class="col-12 col-md-3 mbr-fonts-style display-7">
        <h5 class="pb-3"> Tru so:</h5>
        <p class="mbr-text">NFV Building, 27A Hoang Viet, No4 Ward, Tan Binh district, Ho Chi Minh city, Viet Nam</p>
    </div>
    <div class="col-12 col-md-3 mbr-fonts-style display-7">
        <h5 class="pb-3">Contact:</h5>
        <p class="mbr-text">
            Email: contact@rikai.technology<br>Phone: (+81) 03 3447 6278</p>
    </div>
    
</div>
<div class="footer-lower">
    <div class="media-container-row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>
    <div class="media-container-row mbr-white">
        <div class="col-sm-6 copyright">
            <p class="mbr-text mbr-fonts-style display-7">
                © Copyright 2018 Rikai Technology Co., Ltd - All Rights Reserved
            </p>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
</div>
</div>
</footer>